<section id="download" class="map bg-primary text-center">
    <div class="container">
            <div class="col-md-12">
            	<h2> Net Production Consumption of Energy Resources</h2>
                <h4> Click on a country to get started!</h4>
                <div class="badges">
                    <!-- <a class="badge-link" href="#"><img src="{{ site.url }}/img/Simple_world_map.png" alt=""></a> -->
                    <!-- <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->

                    <!-- Start Abhinav's Map UI -->

					<meta charset="utf-8" />
					<meta name="viewport" content="width=device-width, initial-scale=1.0">

					<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

					<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
					<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>


  <style>
  #map { width: 1100px; height: 500px; margin: 0 auto}
 .info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; 
 		background: #33cccc; 
 		border-radius: 5px; 
 	   } 
 .info h4 { margin: 0 0 5px; color: #777; }
 .legend { text-align: left; line-height: 18px; color: #555; } 
 .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

 </style>
	<div id="radio_table_div">
	                  <table class="layout">
	                    <tbody>
	                    	<tr id="data_row">
	                        	<td class="label_td">
	                          		<label>Data:</label>
	                        	</td>
	                        	<td>
	                          		<span>BP Statistical Review 2017</span>
	                        	</td>
	                      	</tr>

	                      	<tr id="units_row">
	                        	<td class="label_td">
	                          		<label class="radio_label">Units:</label>
	                        	</td>
	                        	<td>
	                          		<span id="bbl_span" class="radio_span" title="Exajoules per year">
	                            		<input type="radio" name="units" id="bbl" value="bbl" checked="checked" onclick=updateMap()>
	                            	<span>bbl</span>
	                          		</span>
	                          		<span id="ft3_span" class="radio_span" title="Exajoules per year">
	                            		<input type="radio" name="units" id="ft3" value="ft3" checked="checked" onclick=updateMap()>
	                           	 	<span>ft</span>
	                          		</span>
	                          		<span id="m3_span" class="radio_span" title="Exajoules per year">
	                            		<input type="radio" name="units" id="m3" value="m3" checked="checked" onclick=updateMap()>
	                            	<span>m</span>
	                          		</span>
	                          		<span id="twh_span" class="radio_span" title="Exajoules per year">
	                            		<input type="radio" name="units" id="twh" value="twh" checked="checked" onclick=updateMap()>
	                            	<span>twh</span>
	                          		</span>
	                          		<span id="mtoe_span" class="radio_span selected" title="million tonnes of oil equivalent per year">
	                            		<input type="radio" name="units" id="mtoe" value="mtoe" checked="checked" onclick=updateMap()>
	                            	<span>mtoe</span>
	                          		</span>
	                          		<span id="joule_span" class="radio_span" title="Exajoules per year">
	                            		<input type="radio" name="units" id="joule" value="joule" checked="checked" onclick=updateMap()>
	                            	<span>J</span>
	                          		</span>
	                        	</td>
	                      	</tr>

	                      	<tr id="toggle_row">
	                        	<td class="toggle_td">
	                          		<label class="toggle_label">Resource</label>
	                        	</td>
	                        	<td>
	                          		<span id="coalspan" class="toggle_radio_span selected" title="coal">
	                            		<input type="radio" name="toggle" id="coal" value="coal" checked="checked" onclick=updateMap()>
	                            	<span>Coal</span>
	                          		</span>
	                          		<span id="oilspan" class="toggle_radio_span selected" title="oil">
	                           	 		<input type="radio" name="toggle" id="oil" value="oil" onclick=updateMap()>
	                            	<span>Oil</span>
	                          		</span>
	                          		<span id="gasspan" class="toggle_radio_span selected" title="gas">
	                            		<input type="radio" name="toggle" id="gas" value="gas" onclick=updateMap()>
	                            	<span>Gas</span>
	                          		</span>
	                          		<span id="nucspan" class="toggle_radio_span selected" title="nuc">
	                            		<input type="radio" name="toggle" id="nuc" value="nuclear" onclick=updateMap()>
	                            	<span>Nuclear</span>
	                          		</span>
	                          		<span id="hydspan" class="toggle_radio_span selected" title="hyd">
	                            		<input type="radio" name="toggle" id="hyd" value="hydro" onclick=updateMap()>
	                            	<span>Hydropower</span>
	                          		</span>
	                        	</td>
	                      	</tr>

	             	</tbody>
	        	</table>
	</div>

	

	<a href="#aside">
	<div id='map'></div>
	</a>

	<!-- Start of Jay's UI -->

<!-- End of Jay's UI -->

	<script src="js/plotly.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
    <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
    <script src="https://d3js.org/d3-request.v1.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <script src="https://d3js.org/colorbrewer.v1.min.js"></script> 
    <script src="https://d3js.org/colorbrewer.v1.min.js"></script> 


	<script type="text/javascript" src ="https://mazamascience.github.io/EnergyDatabrowser-2018/Data/mapping.js"></script>
	<script type="text/javascript" src="https://mazamascience.github.io/EnergyDatabrowser-2018/Data/countries.js"></script>
	<script type="text/javascript" src="https://mazamascience.github.io/EnergyDatabrowser-2018/Data/unitMap.js"></script>
	<script id= "first" type="text/javascript" src="js/map_data.js"></script>
     
  <!-- End Abhinav's Map UI -->

  


  
</div>
</div>
</div>
</section>
