 <!-- Footer -->
	<section id ="footer" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                        <p>
                            Meet Us!
                        </p>
                        <p>
                            We are always eager to meet with people to discuss all things data: management, analysis, visualization, etc. We know that human interactions are at the heart of every successful project and we enjoy learning from our clients and colleagues about their problems, their strategies and their successes and failures. Whenever possible we get away from the office to find out what is going on in the interconnected worlds of science, data and software.

                            We look forward to meeting you some day.
                        </p>
                    </br></br>
                        <a href="mailto:info@mazamascience.com" class="btn btn-outline btn-xl page-scroll">Info@MazamaScience.com</a>
                </div>
            </div>
        </div>
	</section>