.dropdown{
  width: 115px;
  margin-left: 20px;
  float:left;
}

.slider{
  width: 300px;
  height: 15px;
  left-padding: 10px;
  float:left;

}

.slider:hover {
  opacity: 1;
}

.text{
  width: 150px;
  margin-left: 15px;
  float:left;
  font-weight:bold;
}

.longtext{
  width: 1000px;
  margin-left: 15px;
  float:left;
  font-weight:bold;
}

.legendtext{
  width: 150px;
  margin-left: 15px;
  float:left;
   color: "orange";
   font-size: 12;
}

.clearfix {
  clear:both;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
